{{#each comments as |comment|}}
  <div data-id="{{comment.id}}">
    <div class="blogborder">
      <ul>
      <li class="resource-header">{{comment._owner.organization}}</li>
      <li class="resource-header">{{comment.title}}</li>
        <br />
        <li class="resource-body">{{comment.body}}</li>
        <li class="resource-body">{{comment.createdAt}}</li>
        <button class="comment-update blogpost-btn btn btn-sm btn-info" data-id={{comment.id}}>Update</button>
        <!-- <br /> -->
        <button class="comment-delete blogpost-btn btn btn-sm btn-danger" data-id={{comment.id}}>Delete</button>
      </ul>
    </div>
  </div>
  {{else}}

  <h2 class="resource-body">{{user}} has not posted any forums yet</h2>
{{/each}}

<span class="page-links" id="back-link">Return to Main</span>
