<div class="forumborder">
  <h2 class="forum-header">{{forum.body}}</h2>
  <div class="resource-body">posted by: {{user}}</div>

  {{!-- {{#each comments as |comment|}}
  <div class="comment-body comment-border">
    <h3 class="resource-body">{{comment.body}}</h3>
    <div class="resource-body">commented by: {{comment._owner}}


    </div>
  </div>
  {{/each}} --}}


  <form class="comment-submit">
    <input name="forum[_id]" type="hidden" value="{{forum._id}}">
    <textarea class="form-control" name="comment[body]" placeholder="comment" rows="3" required></textarea>
    <button type="submit" class="btn btn-dark-in">comment</button>
  </form>
</div>
<button type="button" class="btn btn-dark-in get-button show-all-forums-button">back to forums</button>
