{{!-- {{#each comments as |comment|}} --}}
<div class="comment-body comment-border">
  <h3 class="resource-body">{{comment.body}}</h3>
  <div class="resource-body">commented by: {{comment._owner}}

    <form value="{{comment._id}}" class="delete-comment-simple">
      <input class="form-control" name="comment[_id]" type="hidden" data-id="{{comment._id}}">
      <button value="{{comment._id}}" type="submit" class="btn btn-sm btn-dark-in">
      delete
      </button>
    </form>

  </div>
</div>
{{!-- {{/each}} --}}
